body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee
}
h2{
	font-size: 16px
}
#button{
	animation: bounce 0.35s ease infinite alternate;
	width: 70px;
	height: 70px;
	background-color: #0000ff;
	position: absolute;
    bottom: 30px;
    right: 50%
}
@keyframes bounce{
     from {bottom: 30px;}
     to   {bottom: 50px;}
}
.site-wrapper{
	display: table;
	color: white;
	width: 100%;
	background-color: #212121;
	min-height: 350px;
	height: 100vh;
	position:relative;
}
.site-wrapper-inner{
	vertical-align: middle;
	    display: table-cell;
}
.cover-container{
	width: 45%;
	margin: 0 auto;
	
}
.cover-container h1{
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.cover-container .point{
	width: 15px;
    height: 15px;
    background: #0000ff;
    display: inline-block;
    border-radius: 50%;

}
.container{
	    margin-top: 50px;
}
.skills{
	background: white;
	transition: ease 1.1s
}
.skills h2{
	text-align: center;
	color: #b6b6b6;
	padding-top: 20px;
}
.skills span{
	    width: 15px;
    height: 15px;
    background: #0000ff;
    display: inline-block;
    margin-right: 10px;
}
.skills p{
	padding: 20px;
	font-size: 14px
}
.col-md-4 .skills:hover{
box-shadow: 3px 3px 10px #c7c7c7;
webkit-box-shadow: 3px 3px 10px #c7c7c7
}